body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    background:#f5f5f7;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
}

.page-container{
    text-align:center;
    width:90%;
    max-width:500px;
}

h1{
    color:#8223f5;
    font-size:32px;
    margin-bottom:10px;
}

.subtitle{
    color:#555;
    margin-bottom:25px;
}

.status-box{
    background:white;
    padding:30px 25px;
    border-radius:12px;
    box-shadow:0 6px 20px rgba(0,0,0,0.08);
    animation: slideUp 0.6s ease;
}

@keyframes slideUp{
    0%{transform:translateY(30px); opacity:0;}
    100%{transform:translateY(0); opacity:1;}
}

.input-group{
    text-align:left;
    margin-bottom:18px;
    max-width: 400px;
}

.input-group label{
    font-weight:600;
    color:#444;
    font-size:14px;
}

.input-group input{
    width:100%;
    padding:12px;
    margin-top:6px;
    border-radius:8px;
    border:1px solid #ccc;
    transition:0.3s;
}

.input-group input:hover,
.input-group input:focus{
    border-color:#8223f5;        
    background:#f7f0ff;          
    box-shadow:0 0 12px rgba(185, 129, 254, 0.35); 
    transform:translateY(-2px);  
    transition:0.3s ease;
}

.input-group input:focus{
    border-color:#8223f5;
    box-shadow:0 0 5px rgba(71, 16, 116, 0.4);
}

.check-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#8223f5;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
    margin-top:10px;
}

.check-btn:hover{
    background:#8223f5;
    transform:translateY(-3px);
    box-shadow:0 5px 15px rgba(130, 24, 172, 0.3);
}

.help-text{
    margin-top:20px;
    font-size:14px;
}

.help-text a{
    color:#8223f5;
    text-decoration:none;
}

.help-text a:hover{
    text-decoration:underline;
}
