body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f9f9f9;
}

/* HERO */
.free-ship-hero {
    text-align: center;
    padding: 60px 20px;
    height: 350px;
    background: linear-gradient(135deg, #8223f5, #4b76ff);
    color: #fff;
}

.free-ship-hero h1 {
    
    font-size: 42px;
    margin: 50px;
}

.free-ship-hero h1 span {
    color: #ffe94d;
}

.free-ship-hero p {
    font-size: 18px;
    margin-top: 10px;
}

/* BENEFITS */
.benefits {
    padding: 50px 20px;
    text-align: center;
}

.benefit-grid {
    display: grid;
    gap: 25px;
    margin-top: 35px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.benefit-card {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.benefit-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.benefit-card i {
    font-size: 40px;
    color: #8223f5;
    margin-bottom: 15px;
}

/* STATS */
.stats {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px 20px;
    background: #ffffff;
}

.stat-box {
    text-align: center;
}

.stat-box h2 {
    font-size: 40px;
    color: #8223f5;
    margin: 0;
}

.stat-box p {
    margin-top: 8px;
}

/* CONDITIONS */
.conditions {
    padding: 50px 20px;
}

.conditions ul {
    max-width: 650px;
    margin: auto;
    line-height: 1.8;
    font-size: 18px;
}

/* FAQ */
.faq {
    padding: 50px 20px;
}

.faq-item {
    background: #fff;
    padding: 20px;
    margin-bottom: 12px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.faq-item h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-item p {
    display: none;
    margin-top: 10px;
    font-size: 15px;
}
