body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fafafa;
}

/* Hero Section */
.hero {
  text-align: center;
  height:250px;
  padding: 70px 20px;
  background: linear-gradient(135deg, #8223f5, #4e9cff);
  color: white;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

/* Info Cards */
.info-section {
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.info-card {
  background: #fff;
  padding: 25px;
  width: 300px;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.info-card:hover {
  transform: translateY(-5px);
}

/* Steps */
.steps {
  text-align: center;
  padding: 40px 20px;
}

.steps-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.step {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

.step-number {
  background: #8223f5;
  color: white;
  padding: 10px 18px;
  border-radius: 50%;
  font-size: 18px;
}

/* Benefits */
.benefits {
  padding: 40px;
  background: #fff;
}

.benefits ul {
  line-height: 1.8;
  font-size: 18px;
}

/* FAQ */
.faq {
  padding: 40px;
  background: #f0f0ff;
}

.faq-item {
  margin-bottom: 15px;
}

.faq-question {
  width: 100%;
  padding: 15px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
}

.faq-answer {
  display: none;
  padding: 15px;
  background: white;
  border-left: 3px solid #8223f5;
  margin-top: 5px;
  border-radius: 8px;
}
